<ul class="list-inline tabs-underlined mt-3">
  <li>
    <%= link_to "All", bookings_path, class: "tab-underlined #{params[:status].nil? ? "active" : ""}" %>
  </li>
  <li>
    <%= link_to "Pending", bookings_path(:status => "pending"), class: "tab-underlined #{params[:status] == "pending" ? "active" : ""}" %>
  </li>
  <li>
    <%= link_to "Upcoming", bookings_path(:status => "upcoming"), class: "tab-underlined #{params[:status] == "upcoming" ? "active" : ""}" %>
  </li>
  <li>
    <%= link_to "Completed", bookings_path(:status => "completed"), class: "tab-underlined #{params[:status] == "completed" ? "active" : ""}" %>
  </li>
  <li>
    <%= link_to "Canceled", bookings_path(:status => "canceled"), class: "tab-underlined #{params[:status] == "canceled" ? "active" : ""}" %>
  </li>
</ul>


  <% (params[:status].nil? ? @bookings : @bookings.where(status: params[:status])).each  do |booking| %>

   <div class="booking-card">
  <%= cl_image_tag(booking.mentor.photo.key, class:"avatar-large") %>
  <div class="booking-card-content">
    <p><small><%= booking.start_time.strftime("%A, %d %b %Y %l:%M %p") %></small></p>
    <p> <b> <%= booking.mentor.user.name %> </b> </p>
    <p> <i class="fa-regular fa-envelope" style="color: #000000;"></i> <%= booking.mentor.user.email %></p>
    <p> <i class="fa-regular fa-clock" style="color: #000000;"></i> <%= booking.status %></p>
  </div>

  <div class="booking-card-actions">
    <%= link_to booking_path(booking, :status => "canceled"), method: :patch, data: { turbo_method: "patch", turbo_confirm: "Are you sure?" } do %>
      Cancel <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
</div>
  <% end %>
