<h1 class = "text-center">all mentors</h1>

<div class = "form-size">
<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat"> search
    </button>
  </div>
</form>
</div>
<% Mentor::SPECIALTIES.each do |specialty| %>
  <h3 class = "ps-2"> <%= specialty %> </h3>
  <ul class="mentors-list">
    <% @mentors.all.each do |mentor| %>
      <% if mentor.specialty == specialty %>
        <li class="card-main">
          <%= link_to mentor_path(mentor) do %>
          <div class="card-mentor">
            <%= cl_image_tag(mentor.photo.key) %>
            <div class="card-mentor-infos">
              <h5 class="fs-6"><%= mentor.user.name %></h5>
              <p class="text-muted h6 small"> $<%= mentor.price %> per hour <br>
              <%= mentor.tagline %> </p>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
