<h1 class = "text-center mt-3">Choose an expert</h1>
<div class="search-form-control form-group">
  <div class="form-group form-inline">
    <%= form_with url: mentors_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a mentor"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
<ul class="list-inline tabs-underlined mt-3">
  <li>
    <%= link_to "All", mentors_path, class: "tab-underlined #{params[:specialty].nil? ? "active" : ""}" %>
  </li>
  <% Mentor::SPECIALTIES.each do |specialty| %>
    <%= link_to specialty.capitalize, mentors_path(:specialty => specialty), class: "tab-underlined #{params[:specialty] == specialty ? "active" : ""}" %>
  <% end %>
</ul>


<% if @mentors.empty? %>
  <p class="text-center"> Nothing available </p>
<% else %>
  <% Mentor::SPECIALTIES.each do |specialty| %>
    <% next if @mentors.where(specialty: specialty).empty? %>
    <% next if specialty != params[:specialty] && params[:specialty]%>
    <h3 class = "ps-2"> <%= specialty.capitalize %> </h3>
    <ul class="mentors-list">
      <% @mentors.all.each do |mentor| %>
        <% if mentor.specialty == specialty %>
          <li class="card-main">
            <%= link_to mentor_path(mentor) do %>
              <div class="card-mentor">
                <%= cl_image_tag(mentor.photo.key) %>
                <div class="card-mentor-infos">
                  <h5 class="fs-6"><strong><%= mentor.user.name %></strong></h5>
                  <p class="h6 small"><strong>$<%= mentor.price %> per hour</strong></p>
                  <p><%= mentor.tagline %></p>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
