<h1 class="text-center my-4 display-4">Become a mentor</h1>

<%= simple_form_for(@mentor) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :specialty, collection: Mentor::SPECIALTIES %>
    <%= f.input :price , label: "Price (per hour)"%>
    <%= f.input :tagline %>
    <%= f.input :bio %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Apply Now", class:"btn btn-flat" %>
  </div>
<% end %>
