<div class="container">
  <h2><%= @mentor.user.name %></h2>
  <div><%= cl_image_tag @mentor.photo.key, width: 200 %></div>
  <h4 class="mt-3"><%= @mentor.tagline %></h4>
  <h4><strong>Specialty:</strong> <%= @mentor.specialty %></h4>
  <h4><strong>Bio:</strong> <%= @mentor.bio %></h4>
  <%= render 'mentors/form' %>
</div>
